@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat Variable', sans-serif;
  --font-serif: 'Merriweather Variable', serif;
  --font-mono: 'Roboto Mono Variable', monospace;

  /* Custom theme variables */
  --font-headings: var(--font-serif);
}

@layer base {
  html,
  body {
    @apply bg-stone-800 text-stone-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }

  header {
    @apply w-full flex justify-center items-center h-fit bg-stone-600 border-b-2 border-b-stone-700;
  }

  header > h1 {
    @apply text-4xl sm:text-6xl md:text-7xl my-2 sm:my-4 md:my-6;
  }

  main {
    @apply w-full max-w-4xl mx-auto px-4;
  }
}

@layer components {
  #app {
    @apply flex flex-col gap-4;
  }
}
